.intro-header {
    height: unset !important;
    }

.bg {
    /* The image used */
    background-image: url("../../assets/img/bg6.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    }

.view {
    height: 100vh !important;
    }

.new-card {
    background-color: rgba(203, 224, 241, 0.795);
    }

.nav-color {
    background-color: rgba(203, 224, 241, 0.397);
    margin: 0;
    padding: 0;
}

.logo {
    /*background-image: url("../../assets/img/transparent-logo.png"); The image used */
    width:auto;
    height:70px;
    background-repeat: no-repeat;
    background-position: left top;
    margin: 0;
    padding: 0;
    }


/*
div.example {
    font-size:10vw;
    background-color: rgba(95, 233, 83, 0.795);
}
*/

.center {
    margin: auto;
    text-align: center;
    background-color: rgba(233, 138, 83, 0.795);
}

.red {
    background-color: rgba(241, 31, 31, 0.795);
}

.blue {
    background-color: rgba(31, 52, 241, 0.795);
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

 @media screen and (min-width: 751px) {
    div.example {
      font-size: 50px;
    }
  }
  
  @media screen and (max-width: 750px) {
    div.example {
      font-size: 30px;
    }
  }